body {
  font-family: Arial;
}

:root{
  --color1: #ab2f59;
  --color2: #e5a062;
  --color3: rgb(171, 47, 89);
}

body {
  font-family: "Lato";
  margin: 0px;
  padding: 0px;
}

.banner {
  display: flex;
  flex-direction: column;
  background-image: url('https://th.bing.com/th/id/R.4215c5fc6abbfe6231141eb6a66952f7?rik=JB1IKr2l9IL8Sg&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fKBk1YBX.jpg&ehk=ugeBF2VGQJDZ%2f5S6vxl0iMWMSgOLVzyX8cX6Ayl1gO8%3d&risl=&pid=ImgRaw&r=0');

  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  min-height: 100vh;
  min-width: 100%;
  /* z-index: 1; */
  
}

.background-pic {
  width: 100%;
  min-height: 100%;
  position: fixed;
}












