

.todo-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  width: 50%;
  column-gap: 10px;
  row-gap: 1px;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 10px;
}

.todo-input-grid {
 display: flex;
 flex-direction: column;
 align-items: center;
 height: auto;
 width: 100%;
 
}

.name-input, 
.due-date-input {
  font-size: 30px;
  padding: 6px;
  align-items: stretch;
}



.add-todo-button {
  background-color: green;
  color: white;
  border: none;
  font-size: 30px;
  cursor: pointer;
  
}

.delete-todo-button {
  background-color: darkred;
  color: white;
  border: none;
  font-size: 30px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

.js-todo-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  
}



.box{
  
  display: flex;
  flex-direction: column;
  width: 30%;
  z-index: 3;
}

.search {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 600px;
}

.search-bar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  border: solid rgba(53, 6, 6, 0.856);
  border-radius: 20px;
  border-width: 3px;
  padding-top: 0;
  height: auto;
  width: 100%;
  column-gap: 0;
  overflow: hidden;
}

.search-bar {
  flex: 1;
  height: auto;
  padding-left: 5%;
  font-size: 18px;
  border-radius: 20px 0 0 20px;
  border: none;
  width: 0;
  
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 12px;
}

.search-button {
  height: auto;
  width: 10%;
  border: none;
  border-radius: 0 20px 20px 0;
  border: none;
}

.search-icon {
  height: auto;
  width: 100%;
}


